*{ padding:0px;
   margin:0px;
   list-style:none;}
h1{
	font-size:60px;
}
h2{
	font-size:50px;
}
.title{
	margin-top:450px;
	margin-bottom:20px;
}
.search{
	postion:fixed;
	top:0;
	left:0;
	width:100%;
	height:100px;
	margin-top:50px;
	margin-bottom:50px;
}
hr{
	position:fixed;
	top:200px;
	left:0;
	width:100%;
	height:20px;
}
h3{
	position:fixed;
	top:250px;
	left:0;
	width:100%;
	height:50px;
}
.back{
	width:20px;
	height:80px;
	font-size:30px;
	margin-right:20px;
}
input[type="text"]{
	font-size:30px;
	border: 1px solid grey;
	border-radius:0px;
	width:750px;
	height:80px;
}
input[type="submit"]{
	font-size:30px;
	border: 1px solid grey;
	border-radius:20px;
	width:150px;
	height:80px;
}
.result{
	margin-top:50px;
	margin-bottom:50px;
	letter-spacing:5px;
	font-size:30px;
}
a{
	display:inline-block;
	text-decoration: none;
}
a:link{
	color:black;
}
a:visited{
	 color:black;
}
.result{
	position:fixed;
	top:400px;
	left:0;
	width:100%;
	height:1000px;
	overflow:scroll;
	margin:0 auto;
}
p{
	
	font-weight: bold;
	font-size:50px;
	width:1000px;
	white-space:normal;
	word-break:break-all;
}
.thr_top1{
	margin-bottom: 50px;
	margin-left:20px;
	margin-right:20px;
	border-top: 3px solid grey;
	border-bottom:  3px solid grey;
	font-size: 0;
	background-color:white;
}
.point{
	color:grey;
	font-size:30px;
}
.info{
	color:grey;
	font-size:30px;
}
.value{
	text-indent:10em;
	color:orange;
	font-size:50px;
}
span{
	color:grey;
	font-size:30px;
}
img{
	display: inline-block;
	border:3px solid gray ;
	margin:10px 10px 10px 0;
	padding:2px;
	float: left;
	
}