* {
	margin: 0;
	padding: 0;
}

.main {
	margin: 400px auto;
	margin-bottom:0;
	height: 100px;
	width: 80%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-color: #99ccff;
}

.sub {
	display: inline;
	float: left;
	width: 33.3%;
	line-height: 100px;
	text-align: center;
	background-color: none;
}

p.date {
	font-size: 40px;
	display: inline;
	vertical-align: middle;
}

p#days {
	font-size: 30px;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid black;
	display: inline;
	vertical-align: middle;
}