*{
	margin: 0;
	padding: 0;
}
#header{
	width:100%;
	height: 120px;
	background-color:white;
	position:fixed;
}
#none{
	width:100%;
	height: 170px;
}
.title{
	display: inline;
}
p.title{
	font-size: 50px;
	margin-left: 1em;
}

#week_line{
	margin-top: 20px;
	height: 70px;
	width: 100%;
	background-color: #e0e0e0;
}
.week{
	display: inline;
	width: 14.28%
}
div.week{
	float: left;
	text-align: center;
	line-height: 70px;
}
p.week{
	display: inline-block;
	font-size: 40px;
	vertical-align: middle;
}
.special{
	color: #3399ff;
}
.month{
	text-align:center;
	font-size:40px;
}
.dayblock{
	display: inline;
	float:left;
	width: 14.28%;
	height:80px;
	text-align:center;
}
#none{
	background-color: #e0e0e0;
}
.date{
	font-size:40px;

}
.pass{
	color: #e9e9d8;
}

