#headbox-container{
	margin: 0 auto 0 auto;
    width: var(--content-width);

}
#headbox{
	background: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    box-sizing: border-box;
    font-size: 16px;
    line-height: 21px;
    max-width: 584px;
    transition: none;
}
#headbox{

    background-color: rgb(var(--GG100-rgb));
    border-radius: 22px;
    cursor: text;
    font-size: 18px;
    height: 44px;
    line-height: 36px;
    margin: 0 auto;
    max-width: 560px;
    opacity: 1;
    position: relative;
    transition: background-color 300ms ease-in-out, opacity 200ms;

}
#searchicon{
	-webkit-mask-image: url(../img/search.jpg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    background: 24px 24px rgb(117, 117, 117);
    bottom: 0;
    display: none;
    height: 24px;
    left: 0;
    margin: auto 0;
    margin-inline-start: 16px;
    position: absolute;
    top: 0;
    width: 24px;

}
#headbox-text{
	bottom: 0;
    color: rgb(117, 117, 117);
    font-size: 16px;
    height: 21px;
    margin: auto 0;
    right: 44px;
    top: 0;
}
#headbox-text{

    bottom: 4px;
    color: rgb(var(--GG700-rgb));
    font-size: 14px;
    left: 0;
    margin-top: 1px;
    overflow: hidden;
    padding-inline-start: 20px;
    position: absolute;
    right: 44px;
    text-align: initial;
    text-overflow: ellipsis;
    top: 4px;
    vertical-align: middle;
    visibility: inherit;
    white-space: nowrap;

}