*{ 
	margin:0; padding:0;
}
.top{
	position:fixed;
	left:0;
	top:160px;
	width:100%;
	height:50px;
}
.headline{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:60px;
	font-size:60px;
	margin-top:50px;
	margin-bottom:50px;
}
a:visited{
	color:black;
}
a:link{
	color:black;
}
.top_block{
	display: inline-block;
	width: 25%;
	height: 60px;
	line-height: 60px;
	text-align: center;position: relative;
	height: 100px;
	width: 200px;
	line-height: 100px;
	margin: 20px 15px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: 3px 3px 5px grey;
	box-shadow: 3px 3px 5px grey;
	border: 1px solid grey;
	text-align: center;
}
.top_block:hover{
	background:url("img/grey.jpg");
}
.title{
	display: inline-block;
	font-size: 40px;
	vertical-align: middle;
	
}
.second{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:150px;
	
}
.sec_block{
	display: inline-block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;position: relative;
	height: 100px;
	width: 450px;
	line-height: 100px;
	margin: 20px 15px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: 3px 3px 5px grey;
	box-shadow: 3px 3px 5px grey;
	border: 1px solid grey;
	text-align: center;
}
.sec_block:hover{
	background:url("../img/grey.jpg");	
}
.sec_title{
	display: inline;
	font-size: 40px;
}

img{
	display: inline-block;
	border:3px solid gray ;
	margin:10px 10px 10px 0;
	padding:2px;
	float: left;
	
}
a{
	display: inline-block;
	font-size: 40px;
	text-decoration: none;
}
.select{
	margin-top:10px;
	position:fixed;
	top:320px;
	left:0;
	height:70px;
	z-index:1;
}
table{
	width:975px;
	font-size:40px;
	background-color:white;
	padding-bottom:20px;
	padding-top:20px;

}
td{

	width:240px;
	height:80px;
}
#button{
	width:470px;
	border:none;
	background-color:white;
}
#button1{
	width:470px;
	border-left:1px solid black;
	border-top:none;
	border-bottom:none;
	border-right:none;
	background-color:white;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]+span {
    display: inline-block;
    width: 220px;
    height: 60px;
    font-size: 40px;
    color:black;
    line-height:50px;
    text-align: center;
    border: 1px solid #999;
    border-radius:10px;
    background-color: #fff;
}
input[type="radio"]:checked+span {
    border: 1px solid #090;
    background-color:#ffe29c;
}
.button2{
	border:1px solid ;
	border-radius:10px;
	padding-left:100px;
	padding-right:100px;
	background-color:white;
}
.thr_top{
	position:fixed;
	top:400px;
	left:0;
	width:100%;
	height:880px;
	overflow:scroll;
	margin:0 auto;
	z-index:-1;
}
.thr_top1{
	margin-bottom: 50px;
	margin-left:20px;
	margin-right:20px;
	border-top: 3px solid grey;
	border-bottom:  3px solid grey;
	font-size: 0;
	background-color:white;
}
p{
	
	font-weight: bold;
	font-size:50px;
	width:1000px;
	white-space:normal;
	word-break:break-all;
}
hr{
	border: 3px solid black;
}
.point{
	color:grey;
	font-size:30px;
}
.info{
	color:grey;
	font-size:30px;
}
.value{
	text-indent:10em;
	color:orange;
	font-size:50px;
}
span{
	color:grey;
	font-size:30px;
}
#shaixuan{
	text-align:center;
	width:240px;
	height:320px;
}
#pingpai{
	text-align:center;
	width:240px;
	height:320px;
	margin-left:240px;
	margin-top:-362px;
}
#jingji{
	width:495px;
	height:320px;
	margin-left:479px;
	margin-top:-362px;
	overflow:scroll;
}
#shushi{
	width:495px;
	height:320px;
	margin-left:479px;
	margin-top:-362px;
	overflow:scroll;
}
#gaodang{
	width:495px;
	height:320px;
	margin-left:479px;
	margin-top:-362px;
	overflow:scroll;
}
#haohua{
	width:495px;
	height:320px;
	margin-left:479px;
	margin-top:-362px;
	overflow:scroll;
}
#fangxingzaocan{
	text-align:center;
	width:240px;
	height:320px;
	margin-left:240px;
	margin-top:-362px;
}
#fangxing{
	width:495px;
	height:320px;
	margin-left:479px;
	margin-top:-362px;
	overflow:scroll;
}
#zaocan{
	width:495px;
	height:320px;
	margin-left:479px;
	margin-top:-362px;
	overflow:scroll;
}
#zhuti{
	width:735px;
	height:320px;
	margin-left:240px;
	margin-top:-362px;
	overflow:scroll;
}
#chongzhichakan{
	width:975px;
	font-size:40px;
	background-color:white;
	padding-bottom:20px;
	padding-top:20px;
}
.button3{
	border:1px solid ;
	border-radius:10px;
	padding-left:100px;
	padding-right:100px;
	background-color:white;
}
span{
	font-size:30px;
	color:black;
}
input[type="checkbox"]
{	
	width:35px;
	height:35px;
	margin-right:20px;
	display: inline-block;
	line-height: 13px;
    position: relative;}
input[type="checkbox"]::before
{	
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	height: 100%;
	border: 1px solid #d9d9d9
	}
input[type="checkbox"]:checked::before{
	content: "\2713";
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	border: 1px solid #e50232;
	color:#e50232;
	font-size: 50px;
	font-weight: bold;}